<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/common/common}">
<head>
    <title>微策智能 v3.0</title>
    <script th:inline="javascript">
        /*修改密码*/
        function edit_password(title,url,w,h){
            layer_show(title,url,w,h);
        }
    </script>
</head>

<body layout:fragment="content">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div th:replace="~{admin/common/header :: header}"></div>

        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <div th:replace="~{admin/common/left :: left}"></div>

            <div class="m-grid__item m-grid__item--fluid m-wrapper">

                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title m-subheader__title--separator">Inner Page</h3>
                            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                <li class="m-nav__item m-nav__item--home">
                                    <a href="#" class="m-nav__link m-nav__link--icon">
                                        <i class="m-nav__link-icon la la-home"></i>
                                    </a>
                                </li>
                                <li class="m-nav__separator">-</li>
                                <li class="m-nav__item">
                                    <a href="" class="m-nav__link">
                                        <span class="m-nav__link-text">Resources</span>
                                    </a>
                                </li>
                                <li class="m-nav__separator">-</li>
                                <li class="m-nav__item">
                                    <a href="" class="m-nav__link">
                                        <span class="m-nav__link-text">Timesheet</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <div class="m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
                                <a href="#" class="m-portlet__nav-link btn btn-lg btn-secondary  m-btn m-btn--outline-2x m-btn--air m-btn--icon m-btn--icon-only m-btn--pill  m-dropdown__toggle">
                                    <i class="la la-plus m--hide"></i>
                                    <i class="la la-ellipsis-h"></i>
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first m--hide">
                                                        <span class="m-nav__section-text">Quick Actions</span>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">Activity</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                            <span class="m-nav__link-text">Messages</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-info"></i>
                                                            <span class="m-nav__link-text">FAQ</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                            <span class="m-nav__link-text">Support</span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__separator m-nav__separator--fit">
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">Submit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Subheader -->
                <div class="m-content">
                Inner page content goes here
                </div>


        <!-- end:: Body -->
            </div>
        </div>
            <div th:replace="~{admin/common/footer :: footer}"></div>



    </div>



        <!--<div class="dislpayArrow hidden-xs">-->
            <!--<a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a>-->
        <!--</div>-->
        <!--<section class="Hui-article-box">-->
            <!--<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">-->
                <!--<div class="Hui-tabNav-wp">-->
                    <!--<ul id="min_title_list" class="acrossTab cl">-->
                        <!--<li class="active"><span title="我的桌面" data-href="welcome.html">我的桌面</span><em></em></li>-->
                    <!--</ul>-->
                <!--</div>-->
                <!--<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i class="Hui-iconfont">&#xe6d7;</i></a></div>-->
            <!--</div>-->
            <!--<div id="iframe_box" class="Hui-article">-->
                <!--<div class="show_iframe">-->
                    <!--<div style="display:none" class="loading"></div>-->
                    <!--<iframe scrolling="yes" frameborder="0" th:src="@{/admin/welcome}"></iframe>-->
                <!--</div>-->
            <!--</div>-->
        <!--</section>-->
        <!--<div class="contextMenu" id="Huiadminmenu">-->
            <!--<ul>-->
                <!--<li id="closethis">关闭当前 </li>-->
                <!--<li id="closeall">关闭全部 </li>-->
            <!--</ul>-->
        <!--</div>-->
    <script th:inline="javascript">
        $(function(){
            /*$("#min_title_list li").contextMenu('Huiadminmenu', {
             bindings: {
             'closethis': function(t) {
             console.log(t);
             if(t.find("i")){
             t.find("i").trigger("click");
             }
             },
             'closeall': function(t) {
             alert('Trigger was '+t.id+'\nAction was Email');
             },
             }
             });*/
        });
    </script>
</body>
</html>